<h1 class="text-center" style="color: white;">Available Cabs</h1>
<div class="container">
    <table class="table table-striped m-4" style="color: white;" >
        <tr >
            <th style="color: white;" >Cab No</th>
            <th style="color: white;">Cab Name</th>
            <th style="color: white;">Cab Description</th>
            <th style="color: white;">Total Capacity</th>
            <th style="color: white;">Cost</th>
            <th style="color: white;">Book Now</th>
        </tr>
        {{#each data}}

        <tr>
            <td>{{this.dataValues.cab_no}}</td>
            <td>{{this.dataValues.cab_name}}</td>
            <td>{{this.dataValues.cab_description}}</td>
            <td>{{this.dataValues.total_capacity}}</td>
            <td>{{this.dataValues.cost}}</td>
        <td><a href="/booking/booking">Book Now</a></td>
     
           {{!-- <td>
                <a href="/update/{{this.dataValues.cab_no}}">Edit</a>|
                <a href="/delete/{{this.dataValues.cab_no}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
         --}}
    
        </tr>
        {{/each}}
    </table>
</div>