<h1 class="text-center" > Cab Details</h1>
<div class="container">
    <button class="btn btn-outline-info"><a href="/cab/create">Add Cab</a></button>
    <pre>
    </pre>
    <table class="table table-striped" >
        <tr >
            <th >Cab No</th>
            <th >Cab Name</th>
            <th >Cab Description</th>
            <th >Total Capacity</th>
            <th >Cost</th>
            <th >Driver Id</th>
            <th >Edit/delete</th>
        </tr>
        {{#each data}}

        <tr>
            <td>{{this.dataValues.cab_no}}</td>
            <td>{{this.dataValues.cab_name}}</td>
            <td>{{this.dataValues.cab_description}}</td>
            <td>{{this.dataValues.total_capacity}}</td>
            <td>{{this.dataValues.cost}}</td>
            <td>{{this.dataValues.driver_id}}</td>
        {{!-- <td><a href="/booking/booking">Book Now</a></td> --}}
     
           <td>
                <a href="/cab/update/{{this.dataValues.cab_no}}">Edit</a>|
                <a href="/cab/delete/{{this.dataValues.cab_no}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        
    
        </tr>
        {{/each}}
    </table>
</div>