<h1 class="text-center">Available Cabs</h1>
<div class="container" >
    {{#if cab.role}}
    <button class="btn btn-outline-info shadow"><a href="/cab">Cab</a></button>
    <button class="btn btn-outline-info shadow"><a href="/driver">Driver</a></button>
    <button class="btn btn-outline-info shadow"><a href="/payment/index">Cab Routes</a></button>
    {{/if}}
    <pre>
        </pre>
    <table class="table table-striped">
        <tr>
            <th>Cab No</th>
            <th>Cab Name</th>
            <th>Cab Description</th>
            <th>Total Capacity</th>
            <th>Book Now</th>
        </tr>
        {{#if cab.role}}
        {{#each data}}
        <tr>
            <td>{{this.dataValues.cab_no}}</td>
            <td>{{this.dataValues.cab_name}}</td>
            <td>{{this.dataValues.cab_description}}</td>
            <td>{{this.dataValues.total_capacity}}</td>
            <td>
                <a href="/cab/update/{{this.dataValues.cab_no}}">Edit</a>|
                <a href="/cab/delete/{{this.dataValues.cab_no}}" class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        {{#each data}}
        <tr>
            <td>{{this.dataValues.cab_no}}</td>
            <td>{{this.dataValues.cab_name}}</td>
            <td>{{this.dataValues.cab_description}}</td>
            <td>{{this.dataValues.total_capacity}}</td>
            <td>
                <a href="/booking/create/{{this.dataValues.cab_no}}">Book Now</a>
            </td>
        </tr>
        {{/each}}

        {{/if}}

    </table>
</div>





