<div class="card text-bg-light">
    <div class="col-sm-8 offset-sm-4">
        <img src="https://img.freepik.com/premium-photo/front-view-generic-brandless-moder-car_110488-502.jpg?w=1060"
            class="card-img" height="552px" width="100%">
    </div>

    <div class="card-img-overlay">
        <pre>



        </pre>
        <div class="col-sm-6 offset-sm-1">
            <div class="card w-80 shadow">
                <div class="card-header text-center">
                    <h2 class="card-title">Your Profile</h2>
                </div>
                <div class="card-body">

                   
            <table class="table">
                <tr>
                    <th>Name</th>
                    <td>{{user.dataValues.driver_name}}</td>
                </tr>
                <tr>
                    <th>License number</th>
                    <td>{{user.dataValues.driver_license_no}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{user.dataValues.email}}</td>
                </tr>
                <tr>
                    <th>Mobile</th>
                    <td>{{user.dataValues.driver_mobile}}</td>
                </tr>
                <tr>
                    <th>Date Of Birth</th>
                    <td>{{user.dataValues.driver_dob}}</td>
                </tr>
            </table>
                    <pre></pre>
                    <div>
                <button class="btn btn-outline-info shadow"><a href="/diver/update/{{user.driver_id}}">Update your
                        profile</a></button>
                <button class="btn btn-outline-info shadow"><a href="/driver/delete/{{user.driver_id}}"
                        onclick="return confirm('Are you sure you want to delete this') ">Delete your
                        profile</a></button>
                <button class="btn btn-outline-info shadow"><a href="/driver/booking">Bookings</a></button>        
            </div>
            
                </div>
            </div>
        </div>
    </div>
</div>