<div class="card text-bg-light">
    <div class="col-sm-8 offset-sm-4">
        <img src="https://img.freepik.com/premium-photo/front-view-generic-brandless-moder-car_110488-502.jpg?w=1060"
            class="card-img" height="552px" width="100%">
    </div>

    <div class="card-img-overlay">

        <pre>

            
        </pre>
        <div class="col-sm-6 offset-sm-1">
    <div class=" card w-80 text-center shadow">

        <div class="card-header">
            <h4 class="card-title" id="card">Thank For Your Booking</h4>
        </div>
        <div class="card-body">

            <table class="table">
                <tr>
                    <th>Name</th>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <th>Pick up location</th>
                    <td>{{invoice.dataValues.cab_from}}</td>
                </tr>
                <tr>
                    <th>Drop location</th>
                    <td>{{invoice.dataValues.cab_to}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{invoice.dataValues.date_of_booking}}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{invoice.dataValues.booking_time}}</td>
                </tr>

                <tr>
                    <th>Cost</th>
                    <td>{{invoice.dataValues.cost}}</td>
                </tr>
            </table>
            <button class="btn btn-outline-success" id="printpdf" onclick="printpdf()">Print pdf</button>
        </div>
    </div>
</div>
        
    </div></div>



{{!-- 
<div class="card text-bg-light">
    <div class="col-sm-8 offset-sm-4">
        <img src="https://img.freepik.com/premium-photo/front-view-generic-brandless-moder-car_110488-502.jpg?w=1060"
            class="card-img" height="552px" width="100%">
    </div>

    <div class="card-img-overlay">
        <pre>



        </pre>
        <div class="col-sm-6 offset-sm-1">
            <div class="card w-80 shadow">
                <div class="card-header text-center">
                    <h2 class="card-title">Thank For Your Booking</h2>
                </div>
                <div class="card-body">

                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <th>Pick up location</th>
                            <td>{{invoice.dataValues.cab_from}}</td>
                        </tr>
                        <tr>
                            <th>Drop location</th>
                            <td>{{invoice.dataValues.cab_to}}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{invoice.dataValues.date_of_booking}}</td>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <td>{{invoice.dataValues.booking_time}}</td>
                        </tr>

                        <tr>
                            <th>Cost</th>
                            <td>{{invoice.dataValues.cost}}</td>
                        </tr>
                    </table>
                    <button class="btn btn-outline-success" id="printpdf" onclick="printpdf()">Print pdf</button>
                </div>

            </div>
        </div>
    </div>
</div> --}}




<script>
    const btn = document.getElementById('printpdf')
    const card = document.getElementById('card')
    function printpdf() {
        btn.style.display = 'none'
        card.style.display = 'none'
        return window.print()
    }
</script>