<div class="container">

    <table class="table table-sm-6 table-dark">
        <tr>
            <th>Passenger Name</th>
            {{!-- <td>asdfghj</td> --}}
            <td>{{data.dataValues.fisrtName}}</td>
        </tr>
        <tr>
            <th>Date</th>
            {{!-- <td>2022-03-03</td> --}}
            <td>{{data.dataValues.date_of_booking}}</td>
        </tr>
        <tr>
            <th>Time</th>
            {{!-- <td>5:09</td> --}}
            <td>{{data.dataValues.booking_time}}</td>
        </tr>
        <tr>
            <th>Pick up location</th>
            {{!-- <td>asdfg</td> --}}
            <td>{{data.dataValues.cab_from}}</td>
        </tr>
        <tr>
            <th>Drop location</th>
            {{!-- <td>werty</td> --}}
            <td>{{data.dataValues.cab_to}}</td>
        </tr>
        <tr>
            <th>Cost</th>
            {{!-- <td>dfg</td> --}}
            <td>{{data.dataValues.cost}}</td>
        </tr>
        <tr>
            <th>Cab No</th>
            {{!-- <td>wertj</td> --}}
            <td>{{data.dataValues.cab_no}}</td>
        </tr>
        <tr>
            <th>Driver</th>
            {{!-- <td>sfgh</td> --}}
            <td>{{data.dataValues.driver_id}}</td>
        </tr>
        
        <button class="btn btn-success">Print pdf</button>
    </table>
</div>