<pre>


</pre>
<div class="col-sm-5 offset-sm-4">
    <div class=" card w-75 text-center">
  <div class="card-header">
    <h4 class="card-title" id="card">Thank For Your Booking</h4>
  </div>
  <div class="card-body">
    
   <table class="table">
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>Pick up location</th>
                <td>{{invoice.dataValues.cab_from}}</td>
            </tr>
            <tr>
                <th>Drop location</th>
                <td>{{invoice.dataValues.cab_to}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{invoice.dataValues.date_of_booking}}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{invoice.dataValues.booking_time}}</td>
            </tr>
            
            <tr>
                <th>Cost</th>
                <td>{{invoice.dataValues.cost}}</td>
            </tr>
        </table>
     <button class="btn btn-outline-success" id="printpdf" onclick="printpdf()">Print pdf</button>
  </div>
</div>
</div>
<script>
    const btn = document.getElementById('printpdf')
    const card = document.getElementById('card')
    function printpdf(){
        btn.style.display = 'none'
        card.style.display = 'none'
        return window.print()
    }
</script>
